<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336866354359-tsf40ou2pl2j4vdfv01s9knpfnsnkqsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336866354359-tsf40ou2pl2j4vdfv01s9knpfnsnkqsk</string>
	<key>API_KEY</key>
	<string>AIzaSyDp-U4PtZbNuvw6VyaTrRzl2MTmQani-kE</string>
	<key>GCM_SENDER_ID</key>
	<string>336866354359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCallingApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-calling-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-calling-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336866354359:ios:97580d0e9fd9ad23f01932</string>
</dict>
</plist>